.signup-login-container{
    background-image: url(./photo.png);
    background-size: cover; 
    background-position: center center;
    background-repeat: no-repeat;
}

@media (max-width: 660px) {
    .signup-login-container {
        background-image: url(./photo1.png);
        background-size: cover; 
        background-position: center center;
        background-repeat: no-repeat;
        }
  }
  


